@import '../vars';

:root {
    --viewport-height: 100vh; // inaccurate, so updated in js
}

.pull-right {
    float: right;
}

.pointer-event-none {
    pointer-events: none;
}

.have-hover-bg:hover {
    background-color: #e7e7e7;
}

.hidden-for-drag {
    opacity: 0 !important;
}

.no-padding {
    padding: 0;
}

.width-container {
    margin-left: auto;
    margin-right: auto;
    max-width: @max-content-width;
    padding-left: 0;
    padding-right: 0;
}

.width-container-leftonly {
    padding-left: 0;
}
.width-container-rightonly {
    padding-right: 0;
}
.width-container-rightonly-padded {
    padding-right: .5em;
}

@media screen and (min-width: @xl-breakpoint) {
    .width-container-leftonly {
        padding-left: 1em;
    }
    .width-container-rightonly {
        padding-right: 1em;
    }
    .width-container {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.todo-view-large-container {
    max-width: 700px;
    margin: auto;
}

.custom-ant-tabs {
    font-size: unset;
}

.app-main {
    line-height: 2em;
    font-size: 1.1em;
    user-select: none;
}

@slim-mgmt-handle-height: 3rem;

.slim-todo-overflower {
    height: calc(var(--viewport-height) - @header-height - @slim-mgmt-handle-height - 3.5rem);
    overflow: auto;
    padding: 0 1em;
}

.slim-todo-tab-container {
    text-align: center;
    margin-bottom: .5em;
}

.slim-mgmt-panel {
    position: fixed;
    z-index: @header-z-index - 1;
    height: calc(var(--viewport-height) - @header-height);
    width: 100vw;
    top: calc(var(--viewport-height) - @slim-mgmt-handle-height);
    left: 0;
    transition: top .15s ease-out;
    background-color: @body-background;
}
.slim-mgmt-panel-on {
    top: @header-height;
}

.slim-mgmt-panel-handle {
    height: @slim-mgmt-handle-height;
    line-height: @slim-mgmt-handle-height;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
}

.slim-mgmt-panel-body {
    height: calc(var(--viewport-height) - @header-height - @slim-mgmt-handle-height);
    overflow-y: auto;
    .no-scrollbar-mixin();
}
.slim-mgmt-top-padding {
    height: 1em;
}

@media screen and (min-width: @max-content-width) {
    .width-container-leftonly {
        margin-left: calc((100vw - @max-content-width) / 2);
    }
    .width-container-rightonly {
        margin-right: calc((100vw - @max-content-width) / 2);
    }
    .width-container-rightonly-padded {
        padding-right: calc(1em + (100vw - @max-content-width) / 2);
    }
}

.slim-todo-anim-enter {
    opacity: 0;
    transform: translateY(-.5em);
}
.slim-todo-anim-enter-active {
    opacity: 1;
    transform: unset;
    transition: opacity .075s ease-out, transform .075s ease-out;
}

.slim-todo-anim-exit {
    opacity: 1;
    transform: unset;
}
.slim-todo-anim-exit-active {
    opacity: 0;
    transform: translateY(1em) scale(.9);
    transition: opacity .075s ease-out, transform .075s ease-out;
}