@import '../vars';

.fancy-search-ctrl {
    position: fixed;
    top: @header-height;
    left: 0;
    height: 3rem;
    width: 100%;
    line-height: 3rem;
    font-size: 1.5rem;
    background-color: hsl(60,80%,93%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    z-index: @header-z-index - 1;
    white-space: nowrap;
}

.fancy-search-height-placeholder {
    height: 3rem;
}

.fancy-search-ctrl input {
    line-height: 2rem;
    width: calc(100% - 5.5em);
    padding-left: .25em;
    background-color: transparent;
    border: unset;
    outline: none;
}
.fancy-search-ctrl input::placeholder {
    opacity: .5;
}