@import '../vars';

.legend span {
    margin-left: .5rem;
    opacity: .6;
    font-size: .8em;
}

.reorder-handle {
    cursor: grabbing !important;
}

.reorder-ghost-zone, .reorder-ghost-project {
    background-color: @body-background;
    filter: brightness(90%);
}

[draggable=true]>.reorder-handle-task {
    filter: brightness(80%);
}

.zone-margin {
    height: 1rem;
}
.project-margin {
    height: 1rem;
}

.task-collapse-badge  {
    transform: scale(.85) translateY(2px);
    margin-left: .25em;
    margin-right: .25em;
}

.task-collapse-label, .task-empty-label {
    font-size: .8em;
    vertical-align: .1em;
}
.task-collapse-label {
    margin-left: -.25em;
}
.task-empty-label {
    margin-left: .5em;
}

.task-list-collapsed {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    .no-scrollbar-mixin();
}

.section-header-project {
    margin-bottom: .5rem;
}

.section-header-zone, .section-header-project {
    min-width: 120px;
    padding-right: .5em;
    white-space: nowrap;
}
.section-header-zone.no-min-width, .section-header-project.no-min-width {
    min-width: unset !important;
}

.zone-header-container, .todo-header-container {
    background: #f1f1f1;
    font-size: 1.1em;
    position: sticky;
    top: @header-height;
    z-index: @header-z-index - 2;
    padding-top: .3em;
    padding-bottom: .3em;
}
.app-slim .zone-header-container, .app-slim .todo-header-container {
    top: 0;
}

.zone-header-container-clickable {
    cursor: pointer;
}

.project-header-container, .todo-cat-container {
    padding-top: .5em;
}

.app-large {
    & .section-header-zone, .section-header-project {
        min-width: 80px;
    }

    & .zone-header-container {
        font-weight: normal;
        font-size: 1em;
        background: unset;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 1rem;
    }

    & .project-header-container {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.task-collapse-widget {
    position: sticky;
    left: 0;
    z-index: 10;
    background-color: fade(@body-background,85%);
    padding: 0 .5em;
}

.project-icon-shared, .project-icon-sharing {
    color: hsl(120, 100%, 30%);
}

.zone-collapse-anim-enter {
    opacity: .2;
    max-height: 0;
    transition: opacity .1s ease-out, max-height .5s linear;
}
.zone-collapse-anim-enter-active {
    opacity: 1;
    max-height: 2000px;
}
.zone-collapse-anim-enter-done {
    max-height: unset;
}
.zone-collapse-anim-exit {
    opacity: 1;
    transition: opacity .1s ease-out;
}
.zone-collapse-anim-exit-active {
    opacity: 0;
}

.section-header-right-status {
    font-size: .6em;
    float: right;
    margin-right: 1rem;
    opacity: .8;
}

.task-collapse-badge .ant-scroll-number-only-unit:not(.current) {
    visibility: hidden; // fix ios safari bug
}