.reorder-list-item {
    background-color: #fafafa;
    padding: .1em .5em;
    margin: .2em 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: grabbing;
}

.modal-update-calendar table {
    height: unset;
}

.modal-btnpair-btn {
    width: 100px;
    margin-right: 5px;
}
.modal-btnpair-input {
    width: calc(100% - 110px);
}