.reorder-list-item {
    background-color: #fafafa;
    padding: .1em .5em;
    margin: .2em 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: grabbing;
}

.modal-btnpair-btn {
    width: 100px;
    margin-right: 5px;
}
.modal-btnpair-input {
    width: calc(100% - 110px);
}

.quicktype-help-btn {
    cursor: pointer !important;
}

.custom-ant-calender {
    max-width: 300px;
    margin: auto;
}

.custom-ant-calender table {
    height: 190px;
}

.custom-ant-calender .ant-fullcalendar-calendar-body {
    padding-bottom: 0;
}