.task-badge {
    border-radius: 5px;
    border: 1px solid;
    margin: 0 .25em;
    padding: 0 .5em;
    line-height: 1.7em;
}

.task-badge-icon {
    margin-right: .2em;
    margin-left: -.1em;
    transform: scale(.85);
}

.task-badge-icon svg {
    overflow: visible; // fix clipping on mobile safari
}

.due-tooltip {
    font-size: .9em;
    line-height: 1.3em;
}