.custom-ant-tag {
  font-size: 1em !important;
  height: 1.4em !important;
  vertical-align: .1em;
  min-width: 3em;
  margin: 0;
}
.custom-ant-tag:hover {
  opacity: unset !important;
}

.clickable-text .custom-ant-tag {
  cursor: unset;
}

.task-badge-icon {
  margin-right: .25rem;
  font-size: .8em;
}