.task-view {
    display: inline-block;
    cursor: pointer;
}

.task-badge {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid;
    margin: 0 .25em;
    padding: 0 .5em;
    line-height: 1.7em;
}

.task-badge-icon {
    margin-right: .2em;
    margin-left: -.1em;
    transform: scale(.85);
}

.task-badge-icon svg {
    overflow: visible; // fix clipping on mobile safari
}

.due-tooltip {
    font-size: .92em;
    line-height: 1.5em;
}

.task-view-mode-2 {
    cursor: unset;
}

.task-view-details {
    width: 280px;
}

.task-details-custom-popover .ant-popover-title {
    display: none;
}

.task-details-custom-popover .ant-popover-inner-content {
    padding: unset;
    margin: unset;
}

.task-view-details-statline {
    padding: .75em 1em .5em 1em;
}
.task-view-details-statline-link:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}

.task-view-details-desc {
    max-height: 4em;
    line-height: 1em;
    padding-bottom: .5em;
    margin-bottom: -.5em;
    overflow: auto;
    white-space: pre-line;
}

.task-view-details-complgroup {
    text-align: center;
    padding: .5em 0;
    user-select: none;
}

.task-view-complbtn {
    padding-left: 9px;
    padding-right: 9px;
    border-color: hsl(0, 0%, 70%) !important;
    box-shadow: unset !important;
}
.task-view-complbtn::before {
    display: none !important; // reset .ant-radio-button-wrapper
}
.task-view-complbtn:hover {
    filter: drop-shadow(0 0 1px rgba(0,0,0,.3)) saturate(200%) brightness(97%);
}
.task-view-complbtn-selected {
    font-weight: bold;
}

.task-view-complbtn-todo {
    color: hsl(210, 90%, 43%) !important;
}
.task-view-complbtn-todo.task-view-complbtn-selected {
    background-color: hsl(210, 100%, 93%) !important;
}
.task-view-complbtn-highlight {
    color: hsl(30, 100%, 44%) !important;
}
.task-view-complbtn-highlight.task-view-complbtn-selected {
    background-color: hsl(30, 100%, 92%) !important;
}
.task-view-complbtn-done {
    color: hsl(110, 30%, 44%) !important;
}
.task-view-complbtn-done.task-view-complbtn-selected {
    background-color: hsl(110, 60%, 95%) !important;
}
.task-view-complbtn-ignored {
    color: hsl(0, 0%, 50%) !important;
}
.task-view-complbtn-ignored.task-view-complbtn-selected {
    background-color: hsl(0, 0%, 94%) !important;
}