@import '../vars';

.todo-task-badge {
    vertical-align: -.35em !important;
    margin-left: .5em;
}

.todo-collapse-switch {
    display: block;
}

.todo-task-bottom-line {
    padding: 1rem 0;
}

.todo-task-tag {
    vertical-align: -0.05em;
}

.todo-header-container, .todo-cat-container, .todo-task {
    padding-left: .5em;
}

@media screen and (min-width: @xl-breakpoint) {
    .todo-task-bottom-line {
        border-bottom: 1px dashed rgba(0,0,0,.25);
        padding: 0;
        margin: 1rem 0;
    }
    .todo-header-container, .todo-cat-container, .todo-task {
        padding-left: .25em;
    }
}