@body-background: #fbfbfb;
@xl-side-width: 200px;
@xl-breakpoint: 800px;
@l-breakpoint: 500px;
@xs-breakpoint: 350px;
@max-content-width: 1200px;
@header-height: 3rem;
@header-z-index: 110;

.no-scrollbar-mixin() {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.highlight-transition-mixin() {
    transition: color .08s ease-out, text-shadow .08s ease-out;
}
.highlight-mixin() {
    color: black;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
}